body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}

h2 {
    font-size: 48px;
    margin-bottom: 30px;
    color: #1a1a1a;
}

h5 {
    margin-bottom: 0px;
}

p {
    font-size: 20px;
    color: #999;
    line-height: 1.8;
    margin-bottom: 0;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

section {
    padding: 120px 0;
}

.bg-light-grey {
    background-color: #f5f5f5;
}

.topmargin-xs {
    margin-top: 15px;
}

.topmargin-sm {
    margin-top: 30px;
}

.topmargin-lg {
    margin-top: 60px;
}

.toppadding {
    padding-top: 50px;
}

.btn {
    font-size: 14px;
    padding: 15px 20px;
    min-width: 160px;
    border-radius: 10px;
    display: inline-block;
}

.btn-light {
    background-color: #fff;
    color: #1a1a1a;
    border: 2px solid #fff;
}

.btn ion-icon {
    font-size: 16px;
    margin-left: 5px;
}

ion-icon {
    margin-bottom: -2px;
}

.text-dark {
    color: #1a1a1a;
}

.text-center {
    margin: 0 auto;
    padding-top: 1.5rem;
}

/* INICIO NAVBAR */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.nav-link {
    color: #1a1a1a;
}

.nav-link:hover {
    color: #1a1a1a;
}

.logo-brand {
    min-width: 160px;
    max-width: 180px;
}

.navbar-toggler {
    font-size: 40px;
}

.navbar-toggler:focus {
    outline: none;
}

/* FIN NAVBAR */

/* INICIO HERO */
#hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #1a1a1a;
}

#hero p {
    color: #fff;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
    color: #fff;
}

/* FIN HERO */

/* INICIO PORTFOLIO */

.portfolio-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.portfolio-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    height: 50rem;
    width: 50rem;
}

.portfolio-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.portfolio-details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.portfolio-details h2 {
    margin-bottom: 0px;
}

.portfolio-details a h2,
.portfolio-details a p {
    color: #fff;
}

/* FIN PORTFOLIO */


/* INICIO SECCION ABOUT US */
.member-container {
    position: relative;
    margin: 10px 0;
}

.member-details {
    position: absolute;
    color: #fff;
    bottom: 0px;
    left: 20px;
}

.member-details span {
    font-size: 14px;
}

.member-details ion-icon {
    padding: 0 5px;
    font-size: 22px;
    color: #fff;
}


/* FIN SECCION ABOUT US */


/* MEDIA QUERIES BOOTSTRAP */

@media (max-width: 575.98px) {
    h1 {
        font-size: 40px;
        line-height: normal;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

/* FIN MEDIA QUERIES BOOTSTRAP */